#shapes-mask {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .25s ease .65s;
    z-index: -3;
}
*, :after, :before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    background: #f3f3f3;
    color: #1c1d25;
    font-family: LibreBaskerville-Regular, Palatino Linotype, Times New Roman, serif;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    overflow-x: hidden;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    transition: background-color .25s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    position: relative;
    font-size: 100%;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, :after, :before {
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: border-box;
}
::selection {
    background: #1c1d25;
    color: #f3f3f3;
    text-shadow: none;
}